[submodule "src/main/resources/vsrc/vortex"]
	path = src/main/resources/vsrc/vortex
	url = https://github.com/hansungk/vortex.git
[submodule "radpie"]
	path = radpie
	url = https://github.com/hansungk/cyclotron.git
