[submodule "src/main/resources/vsrc/vortex"]
	path = src/main/resources/vsrc/vortex
	url = https://github.com/hansungk/vortex-private
[submodule "radpie"]
	path = radpie
	url = git@github.com:hansungk/radpie.git
