[submodule "src/main/resources/vsrc/vortex"]
	path = src/main/resources/vsrc/vortex
	url = git@github.com:hansungk/vortex-private.git
[submodule "radpie"]
	path = cyclotron
	url = git@github.com:hansungk/radpie.git
[submodule "cyclotron-main"]
	path = cyclotron-main
	url = https://github.com/hansungk/cyclotron-main.git
[submodule "cyclotron"]
	url = https://github.com/hansungk/cyclotron.git
